[client]
default-character-set=utf8

[mysql]
default-character-set=utf8

[mysqld] 
bind-address=0.0.0.0
collation-server = utf8_unicode_ci
init-connect = 'SET NAMES utf8'
character-set-server = utf8
default_time_zone = Asia/Novosibirsk
explicit_defaults_for_timestamp = 1
sql_mode = ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION