server {
	listen 80;
	server_name _;

	root {{ .Env.PROJECT_DIR }};

	location / {
	    try_files $uri /public/index.php$is_args$args;
	}

	location ~ ^/public/index\.php(.*)$ {
	    include fastcgi_params;
	    internal;
	}

	error_page   500 502 503 504  /50x.html;
	location = /50x.html {
		root   /usr/share/nginx/html;
	}

	location @empty_gif {
		empty_gif;
	}
}
